/* ==========================================================================
    CONFIGURATION & VARIABLES
   ========================================================================== */

$primary-color: #D36B4B;
$dark-color: #121212;
$light-bg: #FAF9F6;
$white: #FFFFFF;
$text-muted: #6B7280;
$success-green: #15803D;
$accent-purple: #8B5CF6;
$main-font: 'Montserrat', sans-serif;
$border-color: #E5E7EB;
$star-color:   #FBBF24;
$light-gray:   #F3F4F6;
$bg-detail:    #F9FAFB;
$text-dark:    #374151;